

$color_grey: #a8adac !default; // #aaaaaa, #bbbbbb, #bdc8cc
$color_dark_gray: #555555 !default;

$color_yellowy: #ffffcc !default;
$color_white: #ffffff !default;
$color_bright_white: #fafafa !default; // #f9fafa, #fcfcfc, #f5f4f2
$color_plum: #e3d2d2 !default;

$color_black: #000000 !default;
$color_pencile: #2e2e2e !default;
$color_semi_black: #242e2b !default;

$color_grass: #ddffdd !default;
$color_greeny: #05bf85 !default;
$color_green: #009926 !default;
$color_forest_green: #008000 !default;

$color_peach: #ffdddd !default;
$color_magenta: #fa407a !default;
$color_magenta: #fa407a !default;
$color_bright_red: #d01040 !default;
$color_dark_red: #990000 !default;
$color_redy: #a61717 !default;

$color_dark_cyan: #008080 !default;
$color_bright_blue: #0086b3 !default;
$color_clean_sky: #0e58f5 !default;
$color_deep_blue: #000080 !default; // #0b348b
$color_ocean_blue: #445588 !default;
$color_dark_sky: #3c5d5d !default;
$color_cyan: #009999 !default;

$color_bright_purple: #990073 !default;
$color_purple: #800080 !default;

