// Refered https://coolors.co/palette/8ecae6-219ebc-023047-ffb703-fb8500
$theme_color_white: #ffffff !default;
$theme_color_plain: #c2c2c2 !default;
$theme_color_whitey: #fafafa !default;

$theme_color_bright_blue: #8ecae6 !default;
$theme_color_blue: #219ebc !default;
$theme_color_dark_blue: #125c6e !default;

$theme_color_bright_orange: #ffb703 !default;
$theme_color_orange: #fb8500 !default;
$theme_color_dark_orange: #854700 !default;

$theme_color_bright_gray: #c9c9c9 !default;
$theme_color_gray: #8b8b8b !default;
$theme_color_dark_gray: #333333 !default;

$theme_color_black: #001404 !default;

// Colors be used as
$backgroundColor: $theme_color_black !default;
$codeBackgroundColor: $theme_color_whitey !default;
$featureBackgroundColor: $theme_color_bright_gray !default;

$accentColor: $theme_color_blue !default;

// Text Colors
$headingColor: $theme_color_white !default;
$bodyColor: $theme_color_plain !default;

$linkColor: $theme_color_bright_orange !default;
$hoverColor: $theme_color_orange !default;

$focusColor: $theme_color_bright_blue !default;

$captionColor: $theme_color_dark_blue !default;